<html>
        <head>
            <title>FORMULIR SURAT KETERANGAN MENGERJAKAN TUGAS AKHIR</title>
        </head>
        <body>
            <h2>FORMULIR SURAT KETERANGAN MENGERJAKAN TUGAS AKHIR</h2>
            <form action="http://localhost:5000/tambahForm1" method="post">
                Username : <br> <input type="text" name="username" size="30"> <br>
                NRP : <br> <input type="text" name="nrp" size="30"> <br>
                Nama : <br> <input type="text" name="nama" size="30"> <br>
                Tempat Lahir     : <br> <input type="text" name="tempat_lahir" size="30"> <br>
                Tanggal Lahir     : <br> <input type="text" name="tanggal_lahir" size="30"> <br>
                Email     : <br> <input type="text" name="email" size="30"> <br>
                Alamat Asal    : <br> <input type="text" name="alamat_asal" size="30"><br>
                SKS(Lulus)    : <br> <input type="text" name="sks" size="30"><br>
                IPK :   <br> <input type="text" name="ipk" size="30"><br>
                Tanggal Ujian Proposal  : <br> <input type="text" name="tanggal_proposal" size="30"><br>
                Dosen Pembimbing TA : <br> <input type="text" name="dospem_ta" size="30"><br>
                Judul Tugas Akhir   : <br> <input type="text" name="judul_ta" size="30">
                <br><p><input type="submit" value="Request"></p>
            </form>
        </body>
    </html>